<div class="grid-container">
    <div class="grid-container">
        <div class="small-12 medium-6 grid-content">
            <label>
                <h6>Search</h6>
                <span class="inline-label">
    <input type="search" placeholder="Search a word">
    <a class="secondary button" href="#">Search</a>
    </span>
            </label>
        </div>
        <br>
        <br>
        <div class=" grid-block small-up-2 medium-up-2 large-up-3">

        </div>
        <br>
        <h6>Results</h6>
        <br>

        <table class="responsive" style="display: none">
            <tbody>
                <tr>
                    <th>Header 1</th>
                    <th>Header 2</th>
                    <th>Header 3</th>
                    <th>Header 4</th>
                    <th>Header 5</th>
                    <!--
                <th>Header 6</th>
                <th>Header 7</th>
                <th>Header 8</th>
-->
                </tr>
                <tr>
                    <td>row 1, cell 1</td>
                    <td>row 1, cell 2</td>
                    <td>row 1, cell 3</td>
                    <td>row 1, cell 4</td>
                    <td>row 1, cell 5</td>
                    <!--
                <td>row 1, cell 6</td>
                <td>row 1, cell 7</td>
                <td>row 1, cell 8</td>
-->
                </tr>
                <tr>
                    <td>row 2, cell 1</td>
                    <td>row 2, cell 2</td>
                    <td>row 2, cell 3</td>
                    <td>row 2, cell 4</td>
                    <td>row 2, cell 5</td>
                    <!--
                <td>row 2, cell 6</td>
                <td>row 2, cell 7</td>
                <td>row 2, cell 8</td>
-->
                </tr>
                <tr>
                    <td>row 3, cell 1</td>
                    <td>row 3, cell 2</td>
                    <td>row 3, cell 3</td>
                    <td>row 3, cell 4</td>
                    <td>row 3, cell 5</td>
                    <!--
                <td>row 3, cell 6</td>
                <td>row 3, cell 7</td>
                <td>row 3, cell 8</td>
-->
                </tr>
                <tr>
                    <td>row 4, cell 1</td>
                    <td>row 4, cell 2</td>
                    <td>row 4, cell 3</td>
                    <td>row 4, cell 4</td>
                    <td>row 4, cell 5</td>
                    <!--
                <td>row 4, cell 6</td>
                <td>row 4, cell 7</td>
                <td>row 4, cell 8</td>
-->
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="table-wrapper">
            <div class="scrollable">
                <table class="responsive">
                    <tbody>
                        <tr>
                            <th>Perk</th>
                            <th>Description</th>
                            <th>ID</th>
                            <th>Skill Req</th>
                            <th>Perk Req</th>
                        </tr>
                        <tr>
                            <td>Steel Smithing</td>
                            <td>Can create Steel armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb40d</td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Arcane Blacksmith</td>
                            <td>You can improve magical weapons and armor.</td>
                            <td><span style="font-size: x-small" class="idref">0005218e</span></td>
                            <td>60 Smithing</td>
                            <td>Steel Smithing</td>
                        </tr>
                        <tr>
                            <td>Dwarven Smithing</td>
                            <td>Can create Dwarven armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb40e</td>
                            <td>30 Smithing</td>
                            <td>Steel Smithing</td>
                        </tr>
                        <tr>
                            <td>Orcish Smithing</td>
                            <td>Can create Orcish armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb410</td>
                            <td>50 Smithing</td>
                            <td>Dwarven Smithing</td>
                        </tr>
                        <tr>
                            <td>Ebony Smithing</td>
                            <td>Can create Ebony armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb412</td>
                            <td>80 Smithing</td>
                            <td>Orcish Smithing</td>
                        </tr>
                        <tr>
                            <td>Daedric Smithing</td>
                            <td>Can create Daedric armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb413</td>
                            <td>90 Smithing</td>
                            <td>Ebony Smithing</td>
                        </tr>
                        <tr>
                            <td>Elven Smithing</td>
                            <td>Can create Elven armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb40f</td>
                            <td>30 Smithing</td>
                            <td>Steel Smithing</td>
                        </tr>
                        <tr>
                            <td>Advanced Armors</td>
                            <td>Can create Scaled and Plate armor at forges, and improve them twice as much.</td>
                            <td>000cb414</td>
                            <td>50 Smithing</td>
                            <td>Elven Smithing</td>
                        </tr>
                        <tr>
                            <td>Glass Smithing</td>
                            <td>Can create Glass armor and weapons at forges, and improve them twice as much.</td>
                            <td>000cb411</td>
                            <td>70 Smithing</td>
                            <td>Advanced Armors</td>
                        </tr>
                        <tr>
                            <td>Dragon Armor</td>
                            <td>Can create Dragon armor at forges, and improve them twice as much.</td>
                            <td>00052190</td>
                            <td>100 Smithing</td>
                            <td>Daedric Smithing or Glass Smithing</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pinned">
                <table class="">
                    <tbody>
                        <tr>
                            <th>Perk</th>
                            <th style="display: none;">Description</th>
                            <th style="display: none;">ID</th>
                            <th style="display: none;">Skill Req</th>
                            <th style="display: none;">Perk Req</th>
                        </tr>
                        <tr>
                            <td>Steel Smithing</td>
                            <td style="display: none;">Can create Steel armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb40d</td>
                            <td style="display: none;"></td>
                            <td style="display: none;"></td>
                        </tr>
                        <tr>
                            <td>Arcane Blacksmith</td>
                            <td style="display: none;">You can improve magical weapons and armor.</td>
                            <td style="display: none;"><span style="font-size: x-small" class="idref">0005218e</span></td>
                            <td style="display: none;">60 Smithing</td>
                            <td style="display: none;">Steel Smithing</td>
                        </tr>
                        <tr>
                            <td>Dwarven Smithing</td>
                            <td style="display: none;">Can create Dwarven armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb40e</td>
                            <td style="display: none;">30 Smithing</td>
                            <td style="display: none;">Steel Smithing</td>
                        </tr>
                        <tr>
                            <td>Orcish Smithing</td>
                            <td style="display: none;">Can create Orcish armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb410</td>
                            <td style="display: none;">50 Smithing</td>
                            <td style="display: none;">Dwarven Smithing</td>
                        </tr>
                        <tr>
                            <td>Ebony Smithing</td>
                            <td style="display: none;">Can create Ebony armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb412</td>
                            <td style="display: none;">80 Smithing</td>
                            <td style="display: none;">Orcish Smithing</td>
                        </tr>
                        <tr>
                            <td>Daedric Smithing</td>
                            <td style="display: none;">Can create Daedric armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb413</td>
                            <td style="display: none;">90 Smithing</td>
                            <td style="display: none;">Ebony Smithing</td>
                        </tr>
                        <tr>
                            <td>Elven Smithing</td>
                            <td style="display: none;">Can create Elven armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb40f</td>
                            <td style="display: none;">30 Smithing</td>
                            <td style="display: none;">Steel Smithing</td>
                        </tr>
                        <tr>
                            <td>Advanced Armors</td>
                            <td style="display: none;">Can create Scaled and Plate armor at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb414</td>
                            <td style="display: none;">50 Smithing</td>
                            <td style="display: none;">Elven Smithing</td>
                        </tr>
                        <tr>
                            <td>Glass Smithing</td>
                            <td style="display: none;">Can create Glass armor and weapons at forges, and improve them twice as much.</td>
                            <td style="display: none;">000cb411</td>
                            <td style="display: none;">70 Smithing</td>
                            <td style="display: none;">Advanced Armors</td>
                        </tr>
                        <tr>
                            <td>Dragon Armor</td>
                            <td style="display: none;">Can create Dragon armor at forges, and improve them twice as much.</td>
                            <td style="display: none;">00052190</td>
                            <td style="display: none;">100 Smithing</td>
                            <td style="display: none;">Daedric Smithing or Glass Smithing</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>