<div class="grid-container">
<div> 
<div class="table-container">
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th lr-drag-src="headers" lr-drop-target="headers" ng-repeat="col in columns" st-sort="{{col}}">{{col}}</th>
        </tr>
        <tr>
            <th>
                <input oninput="setGlobfield()" ng-model="search.english" placeholder="search for word" id="word-field"  class="input-sm form-control" type="search"/>
            </th>
            <th colspan="4">
                <input st-search oninput="setWordfield()" placeholder="global search" ng-model="search.$" id="glob-field" class="input-sm form-control" type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
                <tr ng-repeat="row in read | filter:search:strict">
                                <td>{{ row.english }}</td>
                                <td>{{ row.wordtype }}</td>
                                <td>{{ row.definition }}</td>
                                <td>{{ row.swedish }}</td>
                </tr>
        </tbody>
    </table>
</div>
<div ng-show="isLoading" class="loading-indicator"></div>
</div>
</div>   
